/* line 10, /++plone++static/components/bootstrap/less/forms.less */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
/* line 20, /++plone++static/components/bootstrap/less/forms.less */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
/* line 32, /++plone++static/components/bootstrap/less/forms.less */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 47, /++plone++static/components/bootstrap/less/forms.less */
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 52, /++plone++static/components/bootstrap/less/forms.less */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
/* line 59, /++plone++static/components/bootstrap/less/forms.less */
input[type="file"] {
  display: block;
}
/* line 64, /++plone++static/components/bootstrap/less/forms.less */
input[type="range"] {
  display: block;
  width: 100%;
}
/* line 70, /++plone++static/components/bootstrap/less/forms.less */
select[multiple],
select[size] {
  height: auto;
}
/* line 76, /++plone++static/components/bootstrap/less/forms.less */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 83, /++plone++static/components/bootstrap/less/forms.less */
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
/* line 114, /++plone++static/components/bootstrap/less/forms.less */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* line 57, /++plone++static/components/bootstrap/less/mixins/forms.less */
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 103, /++plone++static/components/bootstrap/less/mixins/vendor-prefixes.less */
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
/* line 107, /++plone++static/components/bootstrap/less/mixins/vendor-prefixes.less */
.form-control:-ms-input-placeholder {
  color: #999999;
}
/* line 108, /++plone++static/components/bootstrap/less/mixins/vendor-prefixes.less */
.form-control::-webkit-input-placeholder {
  color: #999999;
}
/* line 136, /++plone++static/components/bootstrap/less/forms.less */
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
/* line 146, /++plone++static/components/bootstrap/less/forms.less */
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
/* line 153, /++plone++static/components/bootstrap/less/forms.less */
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
/* line 159, /++plone++static/components/bootstrap/less/forms.less */
textarea.form-control {
  height: auto;
}
/* line 172, /++plone++static/components/bootstrap/less/forms.less */
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 191, /++plone++static/components/bootstrap/less/forms.less */
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  /* line 195, /++plone++static/components/bootstrap/less/forms.less */
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  /* line 200, /++plone++static/components/bootstrap/less/forms.less */
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
/* line 213, /++plone++static/components/bootstrap/less/forms.less */
.form-group {
  margin-bottom: 15px;
}
/* line 222, /++plone++static/components/bootstrap/less/forms.less */
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 229, /++plone++static/components/bootstrap/less/forms.less */
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
/* line 237, /++plone++static/components/bootstrap/less/forms.less */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
/* line 246, /++plone++static/components/bootstrap/less/forms.less */
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
/* line 252, /++plone++static/components/bootstrap/less/forms.less */
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
/* line 262, /++plone++static/components/bootstrap/less/forms.less */
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
/* line 274, /++plone++static/components/bootstrap/less/forms.less */
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
/* line 283, /++plone++static/components/bootstrap/less/forms.less */
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
/* line 293, /++plone++static/components/bootstrap/less/forms.less */
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
/* line 305, /++plone++static/components/bootstrap/less/forms.less */
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}
/* line 313, /++plone++static/components/bootstrap/less/forms.less */
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
/* line 329, /++plone++static/components/bootstrap/less/forms.less */
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* line 76, /++plone++static/components/bootstrap/less/mixins/forms.less */
select.input-sm {
  height: 30px;
  line-height: 30px;
}
/* line 81, /++plone++static/components/bootstrap/less/mixins/forms.less */
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
/* line 333, /++plone++static/components/bootstrap/less/forms.less */
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* line 340, /++plone++static/components/bootstrap/less/forms.less */
.form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}
/* line 344, /++plone++static/components/bootstrap/less/forms.less */
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}
/* line 348, /++plone++static/components/bootstrap/less/forms.less */
.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}
/* line 357, /++plone++static/components/bootstrap/less/forms.less */
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
/* line 76, /++plone++static/components/bootstrap/less/mixins/forms.less */
select.input-lg {
  height: 46px;
  line-height: 46px;
}
/* line 81, /++plone++static/components/bootstrap/less/mixins/forms.less */
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
/* line 361, /++plone++static/components/bootstrap/less/forms.less */
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
/* line 368, /++plone++static/components/bootstrap/less/forms.less */
.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
/* line 372, /++plone++static/components/bootstrap/less/forms.less */
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}
/* line 376, /++plone++static/components/bootstrap/less/forms.less */
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
/* line 390, /++plone++static/components/bootstrap/less/forms.less */
.has-feedback {
  position: relative;
}
/* line 395, /++plone++static/components/bootstrap/less/forms.less */
.has-feedback .form-control {
  padding-right: 42.5px;
}
/* line 400, /++plone++static/components/bootstrap/less/forms.less */
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
/* line 412, /++plone++static/components/bootstrap/less/forms.less */
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
/* line 419, /++plone++static/components/bootstrap/less/forms.less */
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
/* line 8, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
/* line 21, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 24, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
/* line 31, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
/* line 37, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-success .form-control-feedback {
  color: #3c763d;
}
/* line 8, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
/* line 21, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 24, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
/* line 31, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
/* line 37, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
/* line 8, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
/* line 21, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 24, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
/* line 31, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
/* line 37, /++plone++static/components/bootstrap/less/mixins/forms.less */
.has-error .form-control-feedback {
  color: #a94442;
}
/* line 441, /++plone++static/components/bootstrap/less/forms.less */
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
/* line 444, /++plone++static/components/bootstrap/less/forms.less */
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
/* line 455, /++plone++static/components/bootstrap/less/forms.less */
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  /* line 479, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 486, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  /* line 493, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .form-control-static {
    display: inline-block;
  }
  /* line 497, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  /* line 501, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  /* line 509, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  /* line 513, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 520, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  /* line 527, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  /* line 531, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  /* line 538, /++plone++static/components/bootstrap/less/forms.less */
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
/* line 555, /++plone++static/components/bootstrap/less/forms.less */
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
/* line 565, /++plone++static/components/bootstrap/less/forms.less */
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
/* line 571, /++plone++static/components/bootstrap/less/forms.less */
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  /* line 578, /++plone++static/components/bootstrap/less/forms.less */
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
/* line 589, /++plone++static/components/bootstrap/less/forms.less */
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  /* line 599, /++plone++static/components/bootstrap/less/forms.less */
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  /* line 607, /++plone++static/components/bootstrap/less/forms.less */
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}