@media (max-width: 768px) {
  
  a.plone-toolbar-logo{
      top: 150px;
  }
  
  a.plone-toolbar-logo{
    top: 150px;
  }
  
  
  a.plone-toolbar-logo.open{
     position: unset !important;
  }
  
  
  div#edit-zone[style="right: 0px;"] {
    .plone-toolbar-container nav > ul  ul{
      position: absolute;
      left: -150%;
      background: rgba(0, 0, 0, 0.9);
    }
  }

  
  footer {
    ul.portletContent.list-portlet-collection-featured-members-fcol3 li:last-child {
        float: unset;
    }
  }
  
  div#gitlab-modal-button {
    display: none;
  }
 
// Front page
 body.section-front-page{
    .col-md-6.pro-inside {
        min-height: 300px;
    }
 }
 
// Events page
 body.section-events {
   .gl-content-title nav.pull-right.event-nav {
      display: none;
    }
 }
  
  #profile-template-5 {
    .profile-sidebar {
      float: none;
      width: 100%;
      margin-right: 20px;
      padding: 0 0 15px 15px;
      text-align: center;
      border: 1px solid #0099fe;
    }
    .profile-content {
      overflow: visible;
    }
  }
  
  .map-search {
    .map-search-fields {
      .field {
        margin-bottom: 5px;
        width: 100%;
      }
    }
  }
  .subheader-v2 {
    .block-title {
      font-size: 52px;
      line-height: 64px;
    }
  }
  .about {
    .uou-block-7b {
      .content {
        width: 100%;
        border: none;
      }
    }
  }
  .pro-inside {
    min-height: 300px;
  }
  .banr-head {
    padding: 30px 0;
  }
  .single-company-content {
    .recruiter-info {
      .recruiter-inner {
        .recruiter-contact {
          text-align: left;
          .social {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  
  .position-center-center {
    width: 100%;
  }
  .pro-mem {
    .col-sm-3 {
      width: 50%;
      float: left;
    }
  }
  .banr-head {
    .login-sec {
      .uou-tabs {
        .tabs {
          li {
            width: 50% !important;
          }
          li.active {
            a {
              background: none;
            }
          }
        }
      }
      .login-with {
        a {
          &:hover {
            background: #0099ff;
          }
        }
      }
    }
  }
  .uou-tabs {
    .accordion-link {
      background: rgba(0,0,0,0.8) !important;
      color: #fff;
    }
    .accordion-link.active {
      color: #fff;
      background: #0099ff !important;
    }
  }
  .right-top-bnr {
    float: right;
    margin-top: 20px;
    position: absolute;
    top: 28px;
    left: 10px;
    right: 20px;
    .bt-ns {
      float: none;
      display: inline-block;
      margin: 0px;
    }
    a {
      margin: 0px 5px;
    }
  }
  .compny-profile {
    .user-info {
      .followr {
        li {
          width: 50%;
          float: left;
        }
      }
      width: 100%;
      max-width: none;
      margin-top: 130px;
    }
    .modal {
      ul {
        li {
          width: 100%;
        }
      }
    }
  }
  .modal-dialog {
    margin: 0px;
  }
  .filter-flower {
    text-align: center;
    select {
      float: none;
      width: 100%;
    }
  }
  .main-mem {
    max-width: 766px;
    overflow-x: scroll;
  }
  .folow-persons {
    width: 766px;
    overflow-x: scroll;
    li {
      width: 766px;
      overflow-x: scroll;
    }
  }
  .profile-main {
    .profile-in {
      text-align: center;
      .media-left {
        display: inline-block;
        width: 100%;
      }
    }
  }
  .similar {
    .media {
      .share-w {
        position: relative;
        right: 0px;
      }
    }
  }
  .profile-bnr.user-profile-bnr {
    .right-top-bnr {
      position: relative;
      margin: 0px;
      width: 100%;
    }
  }
  .user-profile {
    .nav-tabs {
      li {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
  .user-profile-bnr {
    h5 {
      margin-bottom: 0px;
    }
    min-height: 300px;
    text-align: center;
    .pull-left {
      width: 100%;
    }
  }
  .profile-company-content.main-user {
    .nav-tabs {
      position: relative;
      top: 0px;
    }
  }
}

@media (max-width:600px) {
  
  
 
  // Events page
   body.section-events {
      
      .cp-events-box.row {
          background-position: top center !important;
          background-size: 130% !important;
      
          .cp-thumb.col-md-3 {
              float: unset !important;
              height: 200px !important;
              width: 100% !important;
              margin: 0 !important;
              padding: 0 !important;
          }
          
          .cp-caption {
              display: none;
          }
      }
   }
  
  a.btn.btn-transparent.btn-jamaica {
      width: 70%;
      white-space: normal;
      word-wrap: break-word;
  }
  
  .profile-company-content {
    .nav-tabs {
      li {
        a {
          min-width: inherit;
        }
      }
    }
    .network {
      .nav-tabs {
        li {
          a {
            padding: 10px 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .compny-profile {
    .profile-serv {
      .media-left {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
  .right-top-bnr {
    margin-top: 0px;
    text-align: center;
    .bt-ns {
      width: 100%;
      margin-top: 10px;
      text-align: center;
    }
  }
  .pro-mem {
    .col-sm-3 {
      width: 100%;
    }
  }
}


@media (max-width: 480px) {


  // Events page
   body.section-events {
      .cp-events-box.row {
          background-size: 250% !important;
      }
  }

  .pro-mem .user-profile-summary,
  .jad-member-tile-item .user-profile-summary {
    max-width: auto !important;
  }

  .popular_listings {
    .header-listing {
      text-align: center;
      .listing-views {
        margin-top: 5px;
        float: none;
        width: 100%;
        display: block;
      }
    }
  }
  .company-content {
    .header-listing {
      text-align: center;
      .listing-views {
        margin-top: 5px;
        float: none;
        width: 100%;
        display: block;
      }
    }
  }
  .profile-company-content {
    .tab-content {
      .header-listing {
        text-align: center;
        .listing-views {
          margin-top: 5px;
          float: none;
          width: 100%;
          display: block;
        }
      }
    }
  }
  .single-company-content {
    .recruiter-info {
      .recruiter-inner {
        .recruiter-personal {
          .recruiter-thumbnail {
            margin-bottom: 10px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .banr-head {
    .text-area {
      min-height: 600px;
    }
  }
  
  // Front page
  body.section-front-page{
    .col-md-6.pro-inside {
      min-height: 450px;
    }
  }

  .similar {
    .media {
      .media-left {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
      .inn-simi {
        margin-bottom: 10px;
      }
      .media-body {
        text-align: center;
      }
    }
  }
}
