@media (min-width: 750px) {
  .container {
    min-width: 750px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .position-center-center {
    width: 100%;
  }
  .banr-head {
    .login-sec {
      .uou-tabs {
        form {
          padding: 20px;
        }
      }
    }
  }
  .right-top-bnr {
    float: right;
    margin-top: 50px;
    position: absolute;
    top: 28px;
    right: 20px;
  }
  .pro-mem {
    .col-sm-3 {
      width: 50%;
    }
  }

   body.section-front-page{
      .col-md-6.pro-inside {
          min-height: 300px;
      }
   } 
  
}

@media (max-width: 750px) {
  .toolbar{
    .uou-block-1a {
    	display: none;
    }
  }
}