.sf-menu .fa {
    line-height: 40px !important;
}

.blog-content iframe.gl-iframe {
    width: 100%;
    height: auto;
    min-height: 450px;
}

article.uou-block-7f.blog-post-content > img.newsImage.lead-image {
    width: 100%;
}

a.btn.btn-primary.back-to-blog-list {
    margin-bottom: 20px;
}

#viewlet-below-content-title div#plone-document-byline {
    display: none;
}

.tile-item span.grid-badge {
    position: absolute;
    background: #2f363d;
    color: white;
    top: 10px;
    right: 15px;
    padding: 5px 15px;
    border-radius: 12px 0 0 12px;
    font-weight: 700;
}

.Event.tile-item span.grid-badge {
    background: green !important;
}

.Project.tile-item,
.Website.tile-item{
  span.grid-badge {
    background: blue !important;
  }
}

.Job.tile-item,
.News.Item.tile-item{
  span.grid-badge {
    background: red !important;
  }
}

.toolbar{
  
  .uou-block-1a {
  	display: block;
  	
  	.search {
      display: block;
      
      ul.livesearch-results h4 {
          font-size: 16px;
          margin: 0px;
      }
    }
    
    
    .jad-nav-dropdown, .authentication {
        height: 40px;
    }
  }
  
  .fa, .sf-menu .fa {
    line-height: 40px !important;
  }
  
  .jad-nav-dropdown, .authentication{
  	padding-left: 0;
  	padding-right: 0 !important;
  	list-style: none;
  	margin: 0 !important;
  	float: right;
  
    .fa, .sf-menu .fa {
      line-height: initial !important;
    }
  	
  	li {
  		float: left;
  		margin-top: 14px;
  	  position: relative;
  		a {
  			display: block;
  			font-size: 14px;
  			line-height: 12px;
  			color: #333333;
  			&:hover {
  				color: #0099ff;
  			}
  		}
  	}
  	> li {
  		&:not(:first-child) {
  			border-left: 1px solid #dbdbdb;
  			padding-left: 10px;
  			margin-left: 10px;
  		}
  	}
  }

  .authentication{
  	
  	li:not(#portal-personaltools) {
  		margin-top: 0;
        padding: 14px 16px;
    }

  }
  
   .uou-block-1a{
    background: #333;
    
    .container > ul > li > a,
    .container .search > a {
        color: white !important;
        
        &:hover {
          background: green !important;
        }
        
    }

  }
  
}

a.link-category, a.link-category:hover {
    background: none !important;
    padding: initial !important;
}

.ellipsis {
  white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.uou-share-story h5 {
  	margin-top: 0 !important;
    padding-top: 10px !important;
    height: 70px !important;
    vertical-align: middle !important;
}

// Youtube videos
.wcvideo-container iframe {
    max-width: 100%;
}


.margin-bottom {
  margin-bottom: @margin-bottom;
}

ul.select2-choices {
    border: 1px solid #ccc !important;
    background: white !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    input#s2id_autogen2 {
        display: block;
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        background-color: #ffffff;
        background-image: none;
        border: none;
        transition: all 0.3s;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
}

body.section-front-page {
    i.fa.fa-book.big {
        color: rgba(255, 255, 255, 0.2) !important;
    }
    .login-sec {
        ul.select2-choices {
        background: #424242 !important;
        border: none !important;
        -webkit-border-radius: none !important;
        border-radius: none !important;
    
          input#s2id_autogen2 {
              -webkit-border-radius: none !important;
              border-radius: none !important;
          }
      }
      div#select2-drop {
          background: #424242;
          font-size: 14px;
          color: white !important;
      }
      input[type="submit"] {
          background: #2c2cc7 !important;
      }
  }
}

.toolbar #portal-personaltools {
  display:inline-block;
  margin-top: 0;
  > a {
    border:none;
    outline:none;
    color:black;
    padding:14px 16px;
    background-color:inherit;
  }
  > ul {
    display:none;
    position:absolute;
    background-color:#f9f9f9;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 150px;
    margin:0;
    padding:0;
    right: 0;
    z-index: 10000;
    li {
      text-decoration:none;
      list-style:none;
      width: 100%;
      a {
        float:none;
        color:black;
        padding:12px 16px;
        text-decoration:none;
        display:block;
        text-align:left;
        width: 100%;
      }
      a:hover {
        background-color:#dddddd;
      }
    }
  }

    &:hover > a {
      background-color:#dddddd;
    }
    &:hover > ul {
      display:block;
    }
}

.toolbar .portal-personaltools {
  .toolbar #portal-personaltools;
}

.toolbar .portal-personaltools {
    margin-top: 0 !important;
    top: 0 !important;
}



.content #register{
    select#form-widgets-parish,
    select#form-widgets-country {
      background: #424242;
      border: none;
      height: 40px;
      font-size: 14px;
      padding: 0 30px;
      margin-bottom: 15px;
      color: #ddd;
    }
}

// Hide link icon
.glyphicon.link-mailto, .glyphicon.link-external {
    display: none
}

input.searchButton.fa.fa-search {
    color:  black;
}

input.searchButton {
    background:  blue;
    border-bottom: 1px solid black;
}

input#searchGadget {
    color: black;
    background: white;
    border: 1px solid rgba(0,0,0,0.3);
    padding-left: 10px;
    padding-right: 10px;
}

input.searchButton {
    display: none;
}

.search a.toggle.fa.fa-search {
    line-height: 20px;
}

.btn.btn-jamaica-yellow {
    background: gold;
}

.btn.btn-jamaica-black {
    background: black;
}

.btn.btn-jamaica-green {
    background: green;
}

.btn-jamaica {
    text-decoration: none !important;
    width: fit-content;
    margin: 0 auto;
}

.btn.btn-transparent.btn-jamaica:hover {
    background: black;
}

.btn {
  &.btn-border {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #999 !important;
  }
  
  &.btn-dark {
    background-color: #555;
    border-color: #444;
  }
}

li.portletItem {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

  li.portletItem:hover {
      background: #fcfcfd;
  }

  a.tile.state-enabled {
      color: #696969;
      font-weight: 600;
      display: block;
      padding: 8px !important;
      margin: 0 !important;
  }
  
}

.card-container {
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
    padding: 21px;
    display: inline-block;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #cecece;
}


#profile-template-5 {

  .profile-sidebar {
    float: left;
    width: 100%;
    margin-right: 0;
    padding: 0 0 10px 0;
    background: #fff;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0, .1);
  }
  .profile-userpic {
    img {
      float: none;
      margin: 0 auto;
      padding: 5px;
      border: 1px solid #f4f4f4;
      width: 100%;
      height: auto;
      float: none;
      margin: 0 auto;
      -webkit-border-radius: 3px !important;
      -moz-border-radius: 3px !important;
      border-radius: 3px !important;
    }
  }

  .profile-usertitle {
    text-align: center;
    margin-top: 10px;
    text-align: center;
    margin-top: 20px;
  }
  .profile-usertitle-name {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
    text-align: left;
  }
  .profile-usertitle-job {
    color: #999;
    font-size: 13px;
    margin-bottom: 7px;
    text-align: left;
    font-style: italic;
  }
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  .profile-usermenu {
    ul {
      li {
        a {
          &:hover {
            background-color: #fafcfd;
            color: #0099fe;
          }
        }
      }
    }
  }
  .profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
  }
  .profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
  }
  .tabbable-line {
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
  }
  .profile-stat-text {
    color: #0099fe;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
  }
  .profile-desc-title {
    color: #999;
    font-size: 17px;
    font-weight: 600;
  }
  .profile-desc-text {
    color: #999;
    font-size: 14px;
    padding-bottom: 10px;
    strong {
      display: block;
      color: #333;
    }
  }
  .profile-desc-link {
    a {
      color: #999;
      font-size: 14px;
      color: #999;
      word-wrap: break-word;
    }
    strong {
      display: block;
      color: #333;
    }
    i {
      font-size: 32px;
      color: #abb6c4;
      margin-right: 15px;
    }
    padding-bottom: 10px;
  }
  .caption-subject {
    display: block;
    width: 100%;
    float: none;
    padding: 15px 20px !important;
    background: #f0f0f0;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    font-weight: bold;
    color: #333;
  }
  .portlet {
    background: #fff;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
    h4 {
      margin: 0;
      padding: 15px 0 10px;
      color: #333;
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px;
    }
  }
  .margin-top-20 {
    margin-top: 20px;
  }
  h2 {
    font-weight: 700;
    padding-bottom: 15px;
    display: block;
    color: #578ebe !important;
  }
  .nav-tabs {
    border-bottom: 1px solid #ddd;
    background: none;
    margin: 0;
    float: right;
    display: inline-block;
    border: 0;
  }
  .post-list-header {
    color: #5a7391;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: underline;
  }
  .post-onprofile-header {
    font-weight: 600;
    font-family: 'open-sans', sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 0;
  }
  .around-separetor {
    background-color: #eff3f8 !important;
  }
  ul.iv-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    list-style: none;
  }
  .list-pagi {
    border: 1px solid transparent;
    float: left;
    margin-left: .5em;
    padding: 0;
    list-style: none;
    float: left;
    margin-left: .5em;
    padding: 0;
    list-style: none;
    border-radius: 3px;
    a {
      color: #999;
      padding: 1px 10px;
      border-color: transparent;
    }
    &:hover {
      border: 1px solid transparent;
      border-radius: 3px;
      a {
        color: #0099fe;
        text-decoration: none;
      }
    }
  }
  .active-li {
    border: 1px solid #0099fe;
    background: #0099fe;
    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}

.portlet.light.profile-sidebar-portlet {
  padding-bottom: 0 !important;
}
.demo-section {
  background: #fff;
}
.entry-content {
  a {
    border-bottom: 0px solid #333 !important;
  }
  p {
    padding: 10px 15px 0 0 !important;
    font-weight: 400;
    font-family: 'open-sans', sans-serif;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
  }
}
.social-info {
  position: relative;
  display: inline-block;
  width: 100%;
  .profile-desc-link {
    float: left;
  }
}
.profile-usermenu {
  ul {
    li.active {
      a {
        color: #0099fe !important;
        background-color: #f6f9fb;
        border-left: 2px solid #0099fe;
        margin-left: -2px;
      }
    }
  }
  .nav-links {
    display: inline-block;
    width: 100%;
    li {
      a {
        display: inline-block;
        width: 100%;
        float: left;
        color: #333333;
        padding: 10px 20px;
        border-left: 2px solid;
        border-color: transparent;
        border-bottom: 1px solid #f1f1f1;
        &:hover {
          color: #0099fe !important;
          background-color: #f6f9fb;
          border-left: 2px solid #0099fe;
        }
      }
    }
    li.active {
      a {
        color: #0099fe !important;
        background-color: #f6f9fb;
        border-left: 2px solid #0099fe;
        margin-left: 0px;
      }
    }
  }
}
.bm {
  margin-bottom: 40px;
}
.profile-content {
  border: 0;
  padding: 0;
  box-shadow: 0px 2px 0px rgba(0,0,0, .1);
  background: #fff;
  margin-bottom: 40px;
  border-radius: 3px;
  .portlet-body {
    padding: 10px 30px 40px;
  }
  .cbp-item-wrapper {
    padding-bottom: 20px;
    background: #f8f8f8;
    border-radius: 3px;
    .cbp-caption-defaultWrap {
      img {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }
  .cbp-caption-fadeIn {
    .cbp-caption-activeWrap {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  .cbp-l-grid-team-name {
    text-align: left;
    color: #333;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    padding: 0 20px;
  }
  .cbp-l-grid-team-position {
    text-align: left;
    padding: 0 20px;
  }
}
.uou-block-2b {
  .nav {
    .sf-menu {
      >li {
        margin-right: 30px;
      }
    }
  }
}
.profile-bnr {
  min-height: 500px;
  background: url(../img/profile-bnr.jpg) no-repeat;
  background-size: cover;
}
.user-profile-bnr {
  min-height: 250px;
  padding-top: 65px;
  background: url(../img/user-bg.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  h2 {
    color: #fff;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .right-top-bnr {
    margin-top: 30px;
  }
  h5 {
    color: #fff;
    margin-top: 10px;
    font-weight: normal;
  }
}
.padding-0 {
  padding: 0 !important;
}
.padding-left-10 {
  padding-left: 10px;
  margin: 0 auto;
}
.cbp-item {
  figcaption {
    background-color: #E67E22;
    color: #ffffff;
  }
  figure {
    figcaption {
      position: absolute;
      right: 0;
      bottom: 0;
      color: #fff;
      font-size: 13px;
      padding: 2px 9px;
    }
  }
}
.profile-tabs {
  .nav-tabs {
    li {
      margin-right: 3px;
      display: inline-block;
      a {
        padding: 9px 10px;
        display: inline-block;
        text-align: center;
        min-width: 112px;
        background: #eeeeee;
        color: #a2a2a2;
        text-transform: uppercase;
        font-size: 14px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
    position: absolute;
    top: -108px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li.active {
      a {
        background: #fff;
        color: #333333;
      }
    }
  }
}
.compny-profile {
  .main-title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
  }
  .profile-company-content {
    .tab-content {
      h3 {
        font-weight: normal;
        margin-top: 0px;
        border-bottom: 1px solid #f1f1f1;
        padding: 30px;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      p {
        font-size: 13px;
        line-height: 22px;
      }
      iframe {
        border: none;
        width: 100%;
        height: 360px;
        margin-top: 10px;
        border-radius: 6px;
      }
    }
  }
  position: relative;
  .profile-serv {
    .icon {
      height: 112px;
      width: 112px;
      line-height: 110px;
      border-radius: 50%;
      border: 1px solid #2aadde;
      margin-right: 30px;
    }
    .media-left {
      display: table-cell;
      vertical-align: top;
    }
    .media-body {
      display: table-cell;
      vertical-align: top;
    }
    .media {
      margin: 15px 0;
      margin-top: 30px;
      h6 {
        margin-top: 0px;
        font-weight: normal;
        margin-bottom: 15px;
      }
    }
    p {
      font-size: 14px;
    }
  }
  .image-part {
    margin-bottom: 20px;
  }
  .profile-in {
    padding: 30px;
    padding-top: 0px;
  }
  .user-info {
    background: rgba(0,0,0,0.8);
    border-radius: 4px;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 0px;
    max-width: 360px;
    margin: 70px 0;
    margin-bottom: 98px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    h1 {
      color: #fff;
      margin: 0px;
      a {
        color: #008b5f;
        position: relative;
      }
    }
    h6 {
      font-size: 16px;
      color: #fff;
      margin: 0px;
      font-weight: 200;
      margin-top: 5px;
      margin-bottom: 20px;
    }
    p {
      color: #fff;
      font-weight: bold;
      a {
        font-size: 12px;
        color: #999999;
        text-decoration: underline;
      }
    }
    li {
      list-style: none;
      color: #fff;
      p {
        margin-bottom: 0px;
        font-weight: normal;
        font-size: 14px;
      }
      .stars {
        i {
          color: #0099ff;
        }
      }
      span {
        font-size: 14px;
        font-weight: normal;
        margin-left: 10px;
      }
    }
    ul {
      padding: 0px;
    }
    .followr {
      position: relative;
      ul {
        margin-bottom: 0px;
      }
      &:before {
        border-top: 1px solid rgba(255,255,255,0.2);
        content: '';
        position: absolute;
        left: -50px;
        top: 0px;
        width: 150%;
      }
      p {
        font-weight: normal;
        span {
          text-decoration: underline;
        }
      }
      li {
        text-align: center;
        padding: 15px 0;
        &:nth-child(1) {
          border-right: 1px solid rgba(255,255,255,0.2);
        }
        span {
          color: #999999;
          margin: 0px;
        }
      }
    }
    .tooltip {
      position: absolute !important;
      left: 60% !important;
      top: 10px !important;
      background: rgba(0,0,0,0.5);
      border-radius: 4px;
      padding: 5px 10px;
      border: 1px solid rgba(255,255,255,0.1);
      .tooltip-inner {
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
      }
    }
    .social-links {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      a {
        display: inline-block;
        height: 36px;
        width: 36px;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 50%;
        line-height: 34px;
        font-size: 12px;
        text-align: center !important;
      }
    }
  }
}
.profile-company-content {
  .com-rate {
    i {
      color: #2aadde;
      font-size: 14px;
    }
  }
  .form-side {
    input {
      border: 1px solid #eaeaea;
      margin-bottom: 10px;
      font-size: 14px;
      height: 35px;
      color: #333;
    }
    textarea {
      border: 1px solid #eaeaea;
      margin-bottom: 10px;
      font-size: 14px;
      height: 100px;
    }
    button {
      text-transform: none;
      background: #f1f1f1;
      color: #333;
      border: none;
      &:hover {
        background-color: #008fef;
        border-color: #008fef;
        color: #fff;
      }
    }
  }
  .tab-content {
    .header-listing {
      .custom-select-box {
        width: 220px;
        display: inline-block;
        height: 40px;
        overflow: hidden;
        width: 220px;
        display: inline-block;
      }
      padding: 13px 20px;
      margin-bottom: 30px;
      width: 100%;
      display: inline-block;
      background: #fff;
      box-shadow: 0 0 5px rgba(206, 206, 206, 1);
      h6 {
        margin: 10px 5px 5px 0;
        display: inline-block;
        font-size: 14px;
        vertical-align: top;
        text-transform: uppercase;
      }
      .listing-views {
        padding: 0;
        margin: 4px 0 0 0;
        float: right;
        list-style: none;
        display: inline-block;
        select {
          width: 170px;
        }
        li {
          margin-left: 2px;
          display: inline-block;
          width: 27px;
          height: 27px;
          text-align: center;
          line-height: 27px;
          border: 1px solid #e6e6e6;
          border-radius: 3px;
          .fa {
            color: #e6e6e6;
          }
        }
        li.active {
          .fa {
            color: #fff;
          }
        }
      }
    }
    .tab-pane {
      display: none;
    }
    .tab-pane.active {
      display: inline-block;
      width: 100%;
    }
    h3 {
      padding-top: 50px;
      margin: 0 0 30px 0;
    }
    .uou-icon-counter {
      margin-top: 20px;
      .fa {
        font-size: 60px;
      }
    }
    .listing-ver-3 {
      margin-bottom: 30px;
      .listing-inner {
        .listing-content {
          .location {
            display: inline-block;
          }
          .type-work {
            margin-left: 5px;
            padding-left: 9px;
            border-left: 1px solid #666;
            display: inline-block;
            color: #666666;
            font-size: 15px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            line-height: 1.25em;
          }
          .type-work.full-time {
            color: #cc66cc;
          }
        }
      }
    }
    #profile {
      padding: 0;
      width: 100%;
    }
    #jobs {
      .listing {
        padding-bottom: 0;
      }
    }
    #contact {
      padding: 0 46px 108px 46px;
      width: 100%;
      background: none;
      p {
        margin-bottom: 50px;
      }
      form {
        margin-bottom: 0;
        input {
          padding: 8px 20px;
          height: 50px;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600;
          color: #333;
          margin-bottom: 25px;
        }
        textarea {
          padding: 8px 20px;
          height: 50px;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600;
          color: #333;
          padding: 8px 20px;
          margin-bottom: 25px;
          height: 312px;
        }
      }
    }
  }
  position: relative;
  padding: 60px 0 70px 0;
  background: #fff;
  .nav-tabs {
    position: relative;
    top: 0px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-right: 3px;
      display: inline-block;
      box-shadow: -1px -1px 2px rgba(206, 206, 206, 0.5);
      a {
        padding: 9px 10px;
        display: inline-block;
        text-align: center;
        min-width: 112px;
        background: #fff;
        color: #666666;
        text-transform: uppercase;
        font-size: 14px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }
  .network {
    .nav-tabs {
      li {
        a {
          font-size: 16px;
          color: #adadad;
          text-transform: none;
          padding: 15px 25px;
          &:hover {
            color: #fff;
          }
        }
      }
      li.active {
        a {
          color: #fff;
        }
      }
    }
  }
}
iframe {
  border: none;
}

.profile-main {
  background: #fff;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #ddd;
}
.position-center-center {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.right-top-bnr {
  float: right;
  margin-top: 50px;
  a {
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 15px;
    margin-left: 10px;
    i {
      margin-right: 5px;
    }
    &:hover {
      color: #333;
      background: #fff;
    }
  }
  .bt-ns {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
    a {
      border-radius: 50%;
      height: 36px;
      width: 36px;
      padding: 0px;
      text-align: center;
      line-height: 34px;
      i {
        margin: 0px;
      }
    }
  }
}
.network {
  .nav-tabs {
    position: relative;
    top: 0px;
    li {
      margin-right: 0px;
      a {
        font-size: 16px;
        padding: 15px 30px;
      }
    }
  }
  h4 {
    margin-top: 0px;
  }
}
.net-work-in {
  background: #fff;
  padding: 25px;
  position: relative;
  display: inline-block;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px rgba(206, 206, 206, 1);
}
.filter-flower {
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    display: inline-block;
    a {
      border: 1px solid #eaeaea;
      color: #7f7f7f;
      padding: 5px 15px;
      font-size: 11px;
      margin-right: 5px;
      border-radius: 4px;
      display: inline-block;
      i {
        margin-right: 5px;
      }
      &:hover {
        background: #0099ff;
        color: #fff;
        border: 1px solid #0099ff;
      }
    }
    a.active {
      background: #0099ff;
      color: #fff;
      border: 1px solid #0099ff;
    }
  }
  select {
    font-size: 12px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    width: 80%;
    height: 36px;
    float: right;
  }
}
.head {
  background: #ededed;
  padding: 12px;
}
.main-mem {
  background: #fff;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  .head {
    button {
      i {
        margin-right: 5px;
        font-size: 14px;
      }
      border: 1px solid #cccccc;
      color: #787878;
      background: none;
      display: inline-block;
      padding: 5px 15px;
      font-size: 12px;
      border-radius: 4px;
      margin-right: 10px;
      &:hover {
        background: #0099ff;
        color: #fff;
        border-color: #0099ff;
      }
    }
    form {
      position: relative;
      button {
        background: none;
        position: absolute;
        right: 0px;
        top: 0px;
        line-height: 36px;
        z-index: 2;
        border: none;
        font-size: 12px;
        padding: 0px;
      }
    }
    input {
      font-size: 12px;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      width: 100%;
      height: 36px;
      margin: 0px;
      float: right;
    }
  }
  .tittle {
    background: #f4f4f4;
    padding: 10px 40px;
    ul {
      padding: 0px;
      margin-bottom: 0px;
      li {
        list-style: none;
        font-size: 14px;
        color: #333333;
        margin: 0px;
      }
    }
  }
}
.folow-persons {
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    padding: 25px 40px;
    padding-bottom: 0px;
    min-height: 96px;
    vertical-align: middle;
    &:nth-child(odd) {
      background: #f9f9f9;
    }
    &:nth-child(even) {
      background: #ffffff;
    }
    &:hover {
      .avatar {
        height: 60px;
        width: 60px;
        top: -10px;
        left: -10px;
        padding: 4px;
        background: #fff;
      }
    }
  }
  .fol-name {
    position: relative;
    padding-left: 48px;
  }
  span {
    font-size: 13px;
    width: 100%;
    float: left;
    font-weight: normal;
  }
  h6 {
    font-weight: normal;
    margin: 0px;
    font-size: 14px;
  }
  .avatar {
    float: left;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0px;
    overflow: hidden;
    margin-right: 10px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    img {
      width: 100%;
    }
  }
  .checkbox {
    position: absolute;
    left: -15px;
    padding: 0px;
    line-height: 15px;
    margin: 0px;
    top: 5px;
    height: 20px;
    z-index: 99;
  }
}
.n-p-r {
  padding-right: 0px;
}
.n-p-l {
  padding-left: 0px;
}
.job-content {
  h5 {
    text-transform: none;
    font-weight: normal;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 0px;
  }
}
.job-skills {
  ul {
    padding: 0px;
    margin-bottom: 0px;
  }
  li {
    margin-top: 10px;
    list-style: none;
    h6 {
      i {
        color: #fff;
        margin-right: 5px;
        display: inline-block;
        height: 22px;
        width: 22px;
        border-radius: 4px;
        background: #31a8ec;
        color: #fff;
        text-align: center;
        line-height: 22px;
        font-size: 14px;
      }
    }
  }
  h6 {
    text-transform: none;
    font-weight: normal;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: bold;
  }
  .progress {
    height: 20px;
    box-shadow: none;
    background: #e5e5e5;
    margin-top: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .progress-bar {
    background: #31a8ec;
    box-shadow: none;
    border-radius: 20px;
  }
}
.job-tittle {
  margin-bottom: 0px;
  position: relative;
  p {
    margin-top: 30px;
  }
  h5 {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 5px;
    letter-spacing: 0px;
  }
  span {
    color: #999999;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }
  .date {
    position: relative;
    top: 0px;
    left: 0px;
    width: 38px;
    color: #fff;
    font-size: 18px;
    background: #1193d4;
    float: left;
    text-align: center;
    font-weight: bold;
    line-height: 33px;
    span {
      background: #333333;
      display: inline-block;
      width: 100%;
      line-height: 18px;
      font-size: 8px;
      float: left;
      color: #fff;
      text-transform: uppercase;
    }
  }
}
.similar {
  .media {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    .share-w {
      position: absolute;
      top: 0px;
      right: 10px;
      a {
        height: 34px;
        width: 34px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #9b9b9b;
        color: #333333;
        text-align: center;
        line-height: 32px;
      }
    }
  }
  .inn-simi {
    display: inline-block;
    width: 100px;
    padding-right: 20px;
    a {
      display: inline-block;
      width: 100%;
      color: #fff;
      background: #0099ff;
      padding: 5px 0px;
      width: 100%;
      margin-top: 10px;
      border-radius: 4px;
      text-align: center;
      font-size: 12px;
    }
  }
  p {
    margin-bottom: 10px;
  }
  h5 {
    margin: 0px;
    font-weight: normal;
  }
}
.sidebar {
  .socil {
    padding: 0px;
    li {
      list-style: none;
      display: inline-block;
      a {
        padding: 0px;
        list-style: none;
        display: inline-block;
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #333333;
        color: #333333;
        text-align: center;
        line-height: 48px;
      }
    }
  }
}
.media {
  overflow: hidden;
  zoom: 1;
  overflow: hidden;
  zoom: 1;
}
.media-body {
  overflow: hidden;
  zoom: 1;
  display: table-cell;
  vertical-align: top;
  display: table-cell;
  vertical-align: top;
  overflow: hidden;
  zoom: 1;
  width: 10000px;
}
.media-left {
  display: table-cell;
  vertical-align: top;
  display: table-cell;
  vertical-align: top;
}
.media-right {
  display: table-cell;
  vertical-align: top;
  display: table-cell;
  vertical-align: top;
}
.user-profile {
  .nav-tabs {
    li {
      float: left;
      a {
        background: #eeeeee;
        font-size: 16px;
        padding: 12px 20px;
        &:hover {
          background: #f8f8f8;
          color: #333333;
        }
      }
    }
    li.active {
      a {
        background: #f8f8f8;
        color: #333333;
      }
    }
  }
  .profile-in {
    p {
      font-size: 14px;
      margin-top: 20px;
    }
  }
  .img-profile {
    display: inline-block;
    width: 250px;
    margin-right: 20px;
  }
}

.banr-head {
  background: url(../img/MEST1.png) repeat;
  background-size: cover;
  padding: 80px 0;
  .text-area {
    position: relative;
    text-align: center;
    min-height: 350px;
    h1 {
      font-weight: 600;
    }
    h6 {
      font-weight: normal;
    }
  }
  .login-sec {
    background: rgba(0,0,0,0.8);
    border-radius: 0 0 6px 6px;
    .uou-tabs {
      .tabs {
        li {
          width: 50%;
          margin: 0px !important;
          float: left;
          text-align: center;
          a {
            border: none;
            padding: 15px 10px;
            background: #0099ff;
            color: #fff;
          }
        }
        li.active {
          a {
            background: none;
          }
        }
      }
      form {
        padding: 40px;
        display: inline-block;
        width: 100%;
        margin: 0px;
      }
      .content {
        >div {
          padding: 0px;
        }
      }
    }
    input {
      background: #424242;
      border-radius: none !important;
      border: none;
      height: 40px;
      font-size: 14px;
      padding: 0 30px;
      margin-bottom: 15px;
      color: white !important;
    }
    .login-with {
      float: right;
      margin-top: 5px;
      span {
        margin-right: 10px;
        color: #fff;
        font-size: 14px;
      }
      a {
        height: 34px;
        width: 34px;
        text-align: center;
        line-height: 34px;
        border-radius: 50%;
        display: inline-block;
        margin: 0px;
        font-size: 12px;
        color: #fff;
        background: rgba(0,0,0,0.9);
        transition: all 0.3s;
        &:hover {
          background: #0099ff;
        }
      }
    }
    .forget {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 0px;
      border-top: 1px solid rgba(255,255,255,0.2);
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 12px;
    }
    button {
      border: none;
      background: #0099ff;
      border-radius: 30px;
      padding: 8px 30px;
      color: #fff;
      float: left;
      font-size: 14px;
      transition: all 0.3s;
      &:hover {
        background: rgba(0,0,0,0.8);
      }
    }
  }
  .uou-tabs {
    .content {
      border: none;
    }
  }
  input[type="email"] {
    color: #fff;
  }
}
.home-pro {
  .services {
    ul {
      margin: 0px;
      padding: 0px;
    }
    li {
      background: black;
      padding: 0px;
      list-style: none;
      color: #fff;
      position: relative;
      overflow: hidden;
      text-align: center;
      &:nth-child(2) {
        background: gold;
      }
      &:nth-child(3) {
        background: green;
      }
      .ser-inn {
        padding: 75px 13%;
        position: relative;
        min-height: 450px;
        h4 {
          font-weight: bold;
          color: #fff;
          margin: 0px;
          margin-bottom: 10px;
        }
        i {
          font-size: 40px;
          margin-bottom: 30px;
        }
        i.big {
          font-size: 240px;
          position: absolute;
          right: -80px;
          top: 10%;
          color: rgba(255,255,255,0.1);
        }
        p {
          color: #fff;
          margin: 0px;
          font-size: 14px;
        }
        .gray-border {
          border-color: #c4c4c4;
        }
      }
    }
    .ser-inn {
      .service-link {
        a {
          color: white;
          font-size: 14px;
          position: absolute;
          top: 80%;
          left: 15%;
          right: 15%;
          text-decoration: underline;
        }
      }
    }
  }
}
.pro-inside {
  p {
    font-size: 14px;
  }
  text-align: center;
  min-height: 485px;
  position: relative;
  background-size: cover !important;
  background: #fff;
}

.app-images {
  background: url(../img/app-bg.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 50px;
  .text-area {
    margin-top: 50px;
    margin-bottom: 50px;
    h1 {
      color: #fff;
      font-size: 46px;
    }
    p {
      color: #fff;
    }
    a {
      i {
        margin-right: 10px;
        font-size: 16px;
        float: left;
        margin-top: 4px;
      }
      border-radius: 30px;
      padding: 10px 20px;
      display: inline-block;
      border: 1px solid #fff;
      color: #fff;
      margin-top: 20px;
      font-size: 12px;
      &:hover {
        background: #fff;
        color: #333;
      }
    }
  }
}
.clients-says {
  padding: 80px 0;
  background: #fff;
  .section-title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
  }
  .testi {
    margin-left: -30px;
    .clints-text {
      text-align: center;
    }
    .text-in {
      border: 1px solid #dfdfdf;
      border-radius: 6px;
      padding: 40px;
      text-align: left;
      margin-left: 30px;
    }
  }
  p {
    font-style: italic;
    font-size: 18px;
    color: #333333;
    margin-bottom: 0px;
  }
  h6 {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .container {
    overflow: hidden;
    position: relative;
  }
  span {
    font-size: 14px;
    color: #0099ff;
  }
  .avatar {
    display: inline-block;
    margin-top: 30px;
    .media-body {
      width: auto;
    }
    a {
      display: inline-block;
      margin-right: 15px;
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
  }
}
.search-pro {
  background: #fff;
  position: relative;
  z-index: 9;
  box-shadow: 0 0 1px rgba(0,0,0,0.4);
  form {
    margin-bottom: 0px;
    padding-left: 50px;
    button {
      border-radius: 4px;
      background: #f1f1f1;
      border: none;
      height: 35px;
      font-size: 12px;
      padding: 0px 20px;
    }
    input {
      height: 35px;
      color: #333;
      font-size: 14px;
      margin-bottom: 0px;
      border: 1px solid #eaeaea;
    }
  }
}
.map-search {
  button {
    &:hover {
      background: #2dabff;
      color: #fff;
    }
    border-radius: 4px;
    background: #f1f1f1;
    border: none;
    height: 35px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 20px;
    background: #0099ff;
  }
  position: relative;
  padding: 20px 0;
  display: block;
  width: 100%;
  background: #ffffff;
  .map-toggleButton {
    position: absolute;
    top: 0;
    left: 15px;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #f1f1f1;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    float: left;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    &:hover {
      background: #0099ff;
      .fa {
        color: #fff;
      }
    }
    .fa {
      color: #999999;
      font-size: 16px;
    }
  }
  .map-search-fields {
    position: relative;
    padding: 0 190px 0 70px;
    .field {
      position: relative;
      margin-right: 13px;
      width: 31.333%;
      float: left;
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }
      .fa {
        position: absolute;
        left: 18px;
        top: 14px;
        color: #999;
        z-index: 99;
      }
      input {
        position: relative;
        padding: 5px 16px;
        margin-bottom: 0;
        height: 35px;
        width: 100%;
        font-size: 14px;
        color: #000;
        border: 1px solid #eaeaea;
        font-weight: normal;
      }
      input.location {
        padding-left: 36px;
      }
      select {
        height: 44px !important;
      }
      .select2-selection__arrow {
        height: 43px !important;
        border-left: none;
      }
      .select2-container {
        .select2-selection--single {
          height: 45px;
        }
      }
      .select2-container--default {
        .select2-selection--single {
          .select2-selection__rendered {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            line-height: 42px;
          }
        }
      }
    }
  }
  .search-button {
    position: absolute;
    right: 15px;
    top: 0;
  }
}
.pro-mem, .jad-member-tile-item{

  background: none;
  
  .user-profile-summary {
      max-width: 400px;
  }

  .uou-block-6a {
    background: #fff;
    padding-bottom: 0px;
    box-shadow: 0 0 5px rgba(206, 206, 206, 1);
    min-height: 350px;
    
    h6 {
      margin-bottom: 10px;
    }
    .profile-image, figure, img {
        width: 100%;
        height: 215px;
        background-size: cover;
    }
    &:hover {
      img,  .profile-image, figure{
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
      }
    }

    figure.profile-pic {
        height: 200px;
        background-origin: content-box;
        background-clip: content-box;
        width: 100%;
        margin: 0 !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .profile-data{
        padding-left: 5px;
        padding-right: 5px;
    }
    p {
      font-size: 14px;
    }
  }
}
.profile-company-content.main-user {
  .tab-content {
    #contact {
      padding: 0px;
    }
    #profile {
      background: none;
    }
  }
  .nav-tabs {
    position: absolute;
    top: -102px;
    li {
      a {
        text-transform: none;
        font-size: 16px;
        color: #a2a2a2;
        padding: 10px 20px;
        background: #eeeeee;
        &:hover {
          background: #f8f8f8;
          color: #333333;
        }
      }
    }
    li.active {
      a {
        background: #f8f8f8;
        color: #333333;
      }
    }
  }
}
.popular_listings {
  position: relative;
  padding: 75px 0;
  background: #f5f5f5;
  .section-title {
    margin: 0 0 40px 0;
    color: #1f2022;
    display: block;
    text-align: center;
    font-size: 25px;
  }
  .listing {
    padding: 0;
    .listing-grid {
      margin-bottom: 50px;
    }
  }
  .header-listing {
    padding: 13px 20px;
    margin-bottom: 45px;
    width: 100%;
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 5px rgba(206, 206, 206, 1);
    h6 {
      margin: 10px 5px 5px 0;
      display: inline-block;
      font-size: 14px;
      vertical-align: top;
      text-transform: uppercase;
    }
    .custom-select-box {
      width: 220px;
      display: inline-block;
    }
    .listing-views {
      padding: 0;
      margin: 4px 0 0 0;
      float: right;
      list-style: none;
      display: inline-block;
      li {
        margin-left: 2px;
        display: inline-block;
        width: 27px;
        height: 27px;
        text-align: center;
        line-height: 27px;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        .fa {
          color: #e6e6e6;
        }
      }
      li.active {
        background: #00d793;
        border: 1px solid #00d793;
        .fa {
          color: #fff;
        }
      }
    }
  }
}
.sponsors {
  position: relative;
  padding: 80px 0;
  background-size: cover !important;
  .section-title {
    margin: 0 0 50px 0;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 25px;
  }
  .item {
    text-align: center;
    img {
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
      margin: 0 auto;
      opacity: 1;
    }
    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}
.categories {
  position: relative;
  padding: 67px 0;
  .category-block {
    background: #fff;
    box-shadow: 0 0 5px rgba(206, 206, 206, 1);
    .category-header {
      position: relative;
      padding: 25px 0 40px 0;
      text-align: center;
      h5 {
        margin: 0;
        color: #fff;
      }
      .icon {
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 60px;
        height: 60px;
        display: inline-block;
        background: #fff;
        border-radius: 50%;
        z-index: 99;
        .icon-inner {
          margin-top: 5px;
          width: 50px;
          height: 50px;
          line-height: 44px;
          border: 2px solid;
          display: inline-block;
          text-align: center;
          border-radius: 50%;
          .fa {
            text-align: center;
            color: #00d793;
          }
        }
      }
    }
    .category-header.header-jobs {
      background: #00d793 url(../img/category-header-jobs.png) no-repeat top;
      .icon {
        .icon-inner {
          border-color: #00d793;
        }
      }
    }
    .category-header.header-business {
      background: #3399ff url(../img/category-header-business.png) no-repeat top;
      .icon {
        .icon-inner {
          border-color: #3399ff;
          .fa {
            color: #3399ff;
          }
        }
      }
    }
    .category-header.header-restaurant {
      background: #ff822e url(../img/category-header-restaurant.png) no-repeat top;
      .icon {
        .icon-inner {
          border-color: #ff822e;
          .fa {
            color: #ff822e;
          }
        }
      }
    }
    .category-inner {
      position: relative;
      padding: 40px 30px 30px 30px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: block;
          margin-bottom: 5px;
          .title {
            line-height: 20px;
            display: inline-block;
          }
          .count {
            display: inline-block;
            float: right;
            width: 25px;
            height: 20px;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: #fff;
            background: #c4c4c4;
            border-radius: 5px;
            border-radius: 40%;
          }
        }
      }
    }
  }
}
.subheader-v2 {
  position: relative;
  padding: 95px 0;
  .block-title {
    margin: 0;
    line-height: 120px;
    font-size: 100px;
    color: #e5e5e5;
    text-transform: uppercase;
  }
  .block-secondary-title {
    margin: 15px 0 0 0;
    font-size: 30px;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
  }
}
.about {
  .uou-block-7b {
    padding-top: 50px;
    .content {
      padding: 48px 20px;
      width: 33.333%;
      border-right: 16px solid #f5f5f5;
      h1 {
        margin-top: 0;
      }
      p {
        opacity: .6;
        font-size: 17px;
      }
    }
  }
  .team {
    position: relative;
    padding-top: 80px;
    .title-section {
      margin: 0 0 35px 0;
      font-size: 25px;
      text-align: center;
    }
  }
}
.contact-map {
  width: 100%;
  height: 380px;
  .gm-style-iw {
    padding: 10px 10px 5px 10px;
    h3 {
      margin: 0 0 15px 0;
    }
    ul {
      position: relative;
      padding: 0;
      margin: 0;
      display: inline-block;
      width: 185px;
      list-style: none;
      vertical-align: top;
      &:first-child {
        li {
          span {
            padding-left: 20px;
          }
        }
      }
      li {
        position: relative;
        display: block;
        .fa {
          position: absolute;
          margin-top: 6px;
          margin-right: 5px;
          width: 15px;
        }
        span {
          padding-left: 20px;
          display: block;
        }
      }
    }
  }
}
.contact {
  .contact-form {
    padding: 80px 0 90px 0;
    form {
      margin-bottom: 0;
      input {
        padding: 8px 20px;
        height: 50px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        color: #333;
        margin-bottom: 50px;
      }
      textarea {
        padding: 8px 20px;
        height: 50px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        color: #333;
        padding: 8px 20px;
        margin-bottom: 50px;
        height: 160px;
      }
    }
  }
}
.company-banner {
  padding: 160px 0 150px 0;
  h3 {
    margin: 0 0 56px 0;
    text-transform: uppercase;
    color: #fff;
  }
  .btn {
    padding: 11px 28px;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 14px;
    border-color: #fff;
    color: #fff;
    &:hover {
      background: #fff;
      color: #666;
    }
  }
}
.company-content {
  padding: 55px 0 85px 0;
  .sidebar {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgba(206, 206, 206, 1);
    .sidebar-fields {
      position: relative;
      padding: 28px 22px 18px 22px;
      .location {
        position: relative;
        .fa {
          position: absolute;
          left: 11px;
          top: 11px;
          color: #999;
          z-index: 99;
        }
        input {
          padding-left: 25px;
        }
      }
      input {
        position: relative;
        margin-bottom: 10px;
      }
      .custom-select-box {
        margin-bottom: 10px;
      }
    }
    .sidebar-categories {
      position: relative;
      padding: 5px 22px 18px 22px;
      border-top: 1px solid #e8e8e8;
      h6 {
        margin: 20px 0;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: block;
          margin-bottom: 5px;
          input {
            margin-top: 7px;
            margin-right: 5px;
            display: inline-block;
            vertical-align: top;
          }
          .title {
            line-height: 20px;
            display: inline-block;
          }
          .count {
            display: inline-block;
            float: right;
            width: 25px;
            height: 20px;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: #fff;
            background: #c4c4c4;
            border-radius: 5px;
            border-radius: 40%;
          }
        }
      }
    }
    .sidebar-scrollbars {
      padding: 5px 22px 15px 22px;
      border-top: 1px solid #e8e8e8;
      h6 {
        margin: 20px 0;
      }
      .slider-range {
        display: block;
        position: relative;
        margin: 10px 0 5px 0;
        height: 8px;
        line-height: 1px;
        background: #eaf8f4;
        border-radius: 8px;
        .ui-slider-range {
          display: block;
          position: absolute;
          top: 0;
          height: 8px;
          line-height: 1px;
          background: #00d793;
        }
        .ui-slider-handle {
          display: block;
          position: absolute;
          margin-left: -1px;
          width: 19px;
          height: 19px;
          top: -5px;
          border: 6px solid #e8e8e8;
          background: #999;
          border-radius: 50%;
          -webkit-transition: 0s;
          -o-transition: 0s;
          transition: 0s;
          &:last-child {
            margin-left: -18px;
          }
        }
      }
      .range-from {
        padding: 0;
        margin: 0 0 0 -5px;
        display: inline-block;
        border: none;
        font-size: 12px;
        color: #666;
        width: 50px;
        height: 20px;
        background: transparent;
      }
      .range-to {
        padding: 0;
        margin: 0;
        display: inline-block;
        float: right;
        border: none;
        text-align: right;
        width: 50px;
        height: 20px;
        font-size: 12px;
        color: #666;
        background: transparent;
      }
    }
    .sidebar-button {
      position: relative;
      padding: 15px 22px 30px 22px;
      .btn-medium.full-width {
        padding-top: 4px;
        width: 100%;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 3px;
      }
    }
  }
  .header-listing {
    padding: 13px 20px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 5px rgba(206, 206, 206, 1);
    h6 {
      margin: 10px 5px 5px 0;
      display: inline-block;
      font-size: 14px;
      vertical-align: top;
      text-transform: uppercase;
    }
    .custom-select-box {
      width: 220px;
      display: inline-block;
    }
    .listing-views {
      padding: 0;
      margin: 4px 0 0 0;
      float: right;
      list-style: none;
      display: inline-block;
      li {
        margin-left: 2px;
        display: inline-block;
        width: 27px;
        height: 27px;
        text-align: center;
        line-height: 27px;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        .fa {
          color: #e6e6e6;
        }
      }
      li.active {
        background: #00d793;
        border: 1px solid #00d793;
        .fa {
          color: #fff;
        }
      }
    }
  }
  .listing {
    padding-bottom: 0;
    .listing-ver-3 {
      margin-bottom: 30px;
      .listing-inner {
        .listing-content {
          .location {
            display: inline-block;
          }
          .type-work {
            margin-left: 5px;
            padding-left: 9px;
            border-left: 1px solid #666;
            display: inline-block;
            color: #666666;
            font-size: 15px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            line-height: 1.25em;
          }
          .type-work.full-time {
            color: #cc66cc;
          }
        }
      }
    }
  }
  .pagination {
    margin: 0;
    display: inline-block;
    text-align: center;
    li {
      border: 1px solid transparent;
      a {
        border-radius: 3px;
      }
    }
    li.current {
      background: #fff;
      border: 1px solid #d6d6d6;
      border-radius: 3px;
    }
  }
}
.single-company-content {
  padding: 45px 0 70px 0;
  .listing {
    padding-bottom: 0;
    .listing-ver-3 {
      margin-bottom: 30px;
      .listing-inner {
        .listing-content {
          .location {
            display: inline-block;
          }
          .type-work {
            margin-left: 5px;
            padding-left: 9px;
            border-left: 1px solid #666;
            display: inline-block;
            color: #666666;
            font-size: 15px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            line-height: 1.25em;
          }
          .type-work.full-time {
            color: #cc66cc;
          }
          .details {
            padding: 0;
            margin: 30px 0 50px 0;
            list-style: none;
            li {
              margin-bottom: 20px;
              display: block;
              text-align: left;
              .fa {
                color: #030104;
              }
              h6 {
                margin: 0 0 0 5px;
                display: inline-block;
                text-transform: uppercase;
                font-size: 15px;
              }
              span {
                magin-top: 5px;
                display: block;
                color: #999999;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .recruiter-info {
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    .recruiter-header {
      position: relative;
      padding: 17px 24px;
      background: #f0f0f0;
      h5 {
        margin: 0;
        color: #666;
        display: inline-block;
      }
      a {
        margin-top: 3px;
        float: right;
        font-size: 21px;
        color: #999;
        &:hover {
          color: #00d793;
        }
      }
    }
    .recruiter-inner {
      position: relative;
      padding: 38px 46px 32px 46px;
      .recruiter-personal {
        .recruiter-thumbnail {
          margin-right: 21px;
          width: 100px;
          height: 100px;
          display: inline-block;
          vertical-align: top;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .recruiter-details {
          display: inline-block;
          vertical-align: top;
          .name {
            margin: 0;
            font-size: 18px;
          }
          .location {
            margin-top: 2px;
            margin-bottom: 14px;
            display: block;
            color: #999999;
            font-weight: bold;
            font-size: 14px;
          }
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              display: block;
              line-height: 20px;
              span {
                color: #666;
                font-size: 14px;
              }
            }
          }
        }
      }
      .recruiter-contact {
        .social {
          padding: 0;
          margin: 0 0 32px 0;
          list-style: none;
          li {
            display: inline-block;
            a {
              display: inline-block;
              width: 28px;
              height: 28px;
              text-align: center;
              line-height: 28px;
              border-radius: 3px;
              .fa {
                color: #fff;
              }
            }
          }
          li.facebook {
            a {
              background: #3b579d;
            }
          }
          li.twitter {
            a {
              background: #5ea9dd;
            }
          }
          li.google {
            a {
              background: #da5534;
            }
          }
        }
        .btn {
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }
    }
  }
  .sidebar {
    position: relative;
    padding: 21px;
    display: inline-block;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgba(206, 206, 206, 1);
    .sidebar-map {
      width: 100%;
      height: 100%;
      padding: 4px;
      border: 1px solid #eaeaea;
      #single-company-map {
        width: 100%;
        height: 210px;
      }
    }
    .sidebar-thumbnail {
      margin: 0 auto 30px auto;
      padding: 4px;
      text-align: center;
      border: 1px solid #eaeaea;
      img {
        margin: 0 auto;
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
    }
    .sidebar-information {
      position: relative;
      .main-title {
        margin: 30px 0 0 0;
        padding-bottom: 13px;
        font-size: 17px;
        border-bottom: 1px solid #ccc;
      }
      .single-category {
        position: relative;
        .title {
          font-size: 15px;
        }
        .subtitle {
          display: block;
          color: #999999;
        }
        .social {
          padding: 5px 0 0 0;
          margin: 0;
          list-style: none;
          li {
            margin-bottom: 5px;
            margin-right: 3px;
            display: inline-block;
            a {
              display: inline-block;
              width: 29px;
              height: 29px;
              line-height: 29px;
              text-align: center;
              color: #fff;
              border-radius: 50%;
            }
          }
          li.twitter {
            a {
              background: #1bb2e9;
            }
          }
          li.facebook {
            a {
              background: #3c599f;
            }
          }
          li.google-plus {
            a {
              background: #df4b38;
            }
          }
          li.linkedin {
            a {
              background: #4d7abc;
            }
          }
          li.pinterest {
            a {
              background: #cb2027;
            }
          }
          li.envelope {
            a {
              background: #999999;
            }
          }
        }
      }
    }
  }
}
.uou-block-canvas.uou-block-2a.secondary {
  background: #3c3d41;
  padding: 0;
  .logo {
    color: #ffffff;
    padding-top: 10px;
    margin-right: 24px;
  }
  .add-content-block {
    float: left;
    border-left: 1px solid #808080;
    a {
      display: block;
      padding: 20px 15px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      color: #cccccc;
      i {
        padding-right: 5px;
      }
      &:hover {
        color: #ffffff;
        outline: 0;
      }
      &:focus {
        color: #ffffff;
        outline: 0;
      }
      &:active {
        color: #ffffff;
        outline: 0;
      }
    }
  }
  .add-element-block {
    float: left;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    a {
      display: block;
      padding: 20px 15px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      color: #cccccc;
      i {
        padding-right: 5px;
      }
      &:hover {
        color: #ffffff;
        outline: 0;
      }
      &:focus {
        color: #ffffff;
        outline: 0;
      }
      &:active {
        color: #ffffff;
        outline: 0;
      }
    }
  }
  .save-preview-button {
    float: right;
    padding-top: 17px;
    button {
      margin-left: 6px;
    }
    button.btn {
      border-radius: 20px;
    }
  }
}

.modal-block-tabs {
  position: relative;
  .tabs {
    text-align: center;
    padding: 10px 0;
    background: #f4f4f4;
    li {
      float: none;
      display: inline-block;
      a {
        font-size: 14px;
        font-weight: 300;
        border-radius: 20px;
        padding: 6px 24px;
      }
    }
    li.active {
      a {
        background-color: #00d793;
      }
    }
  }
  .uou-tabs {
    .content {
      border-top: 0;
      max-height: 300px;
      overflow: auto;
      >div {
        background-color: #ffffff;
      }
    }
  }
}
.header-block-content {
  position: relative;
  .block-preview-image {
    position: relative;
    width: 100%;
    height: auto;
    padding: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    &:before {
      content: " ";
      display: table;
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
      content: " ";
      display: table;
      clear: both;
    }
    img {
      float: left;
      width: 100%;
    }
    button {
      position: absolute;
      top: 10px;
      right: 7px;
      i {
        padding-right: 4px;
      }
    }
    button.btn {
      border-radius: 20px;
    }
  }
}
.toolbar-content-block {
  position: relative;
  .block-preview-image {
    position: relative;
    width: 100%;
    height: auto;
    padding: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    &:before {
      content: " ";
      display: table;
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
      content: " ";
      display: table;
      clear: both;
    }
    img {
      float: left;
      width: 100%;
    }
    button {
      position: absolute;
      top: 10px;
      right: 7px;
      i {
        padding-right: 4px;
      }
    }
    button.btn {
      border-radius: 20px;
    }
  }
}
.footer-content-block {
  position: relative;
  .block-preview-image {
    position: relative;
    width: 100%;
    height: auto;
    padding: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    &:before {
      content: " ";
      display: table;
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
      content: " ";
      display: table;
      clear: both;
    }
    img {
      float: left;
      width: 100%;
    }
    button {
      position: absolute;
      top: 10px;
      right: 7px;
      i {
        padding-right: 4px;
      }
    }
    button.btn {
      border-radius: 20px;
    }
  }
}

.page-layout-block {
  position: relative;
  .block-preview-image {
    position: relative;
    width: 24%;
    height: auto;
    padding: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    &:before {
      content: " ";
      display: table;
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
      content: " ";
      display: table;
      clear: both;
    }
    img {
      width: 100%;
      height: 358px;
      margin-bottom: 5px;
    }
    button {
      position: relative;
      margin-bottom: 5px;
      i {
        padding-right: 4px;
      }
    }
    button.btn {
      border-radius: 20px;
    }
  }
}
.sub-bnr {
  position: relative;
  padding: 0px;
  min-height: 220px;
  background: url(../img/user-bg.jpg) no-repeat;
  background-size: cover;
}
.uou-portfolio {
  .portfolio {
    padding-top: 10px;
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .map-search {
    .map-search-fields {
      padding-right: 0;
    }
    .search-button {
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: inline-block;
      text-align: center;
      width: 100%;
      .btn {
        margin-top: 10px;
      }
    }
  }
  .categories {
    .category-block {
      margin-bottom: 30px;
      .category-inner {
        ul {
          li {
            .title {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .company-content {
    .sidebar {
      margin-bottom: 30px;
      .sidebar-categories {
        ul {
          li {
            .title {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .profile-company-content {
    .sidebar {
      margin-bottom: 30px;
    }
  }
  .single-company-content {
    .sidebar {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 1200px) {
  .map-search {
    .map-search-fields {
      .field {
        width: 32%;
      }
    }
  }
  .categories {
    .category-block {
      .category-inner {
        ul {
          li {
            .title {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
  .company-content {
    .sidebar {
      .sidebar-categories {
        ul {
          li {
            .title {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 1170px;
  }
}
.pro-inside.pro-section-image-1 {
    background: url(../img/pro-img-1.jpg) center center no-repeat;
}

.pro-inside.pro-section-image-2 {
    background: url(../img/collaborate.jpg) center center no-repeat;
}

.home-pro .sponsors {
    background:url(../img/sponser-bg.jpg) no-repeat;
}

#form-membersearch-buttons-search {
    width: 100%;
}

div#s2id_autogen1 {
    width: 100%;
    min-width: auto;
}

.member-search-form-holder span.formHelp {
    display: none
}

form#form-membersearch {
    border: 1px solid #ddd;
    padding: 15px;
}


footer{
    a {
        color: black;
    }

    .top-developers [class*="col-"] {
        padding-right: 0px !important;

        &:last-child {
            padding-right: 0 !important;
        }

        img {
            height: 100px;
            width: 100px;
        }
    }
    
    ul {
    	margin: 0px;
    	padding: 0px 0px 0px 18px;
    }
    
    
    img.thumb-thumb {
    	width: auto;
    	height: 25px;
    }
    ul.portletContent.list-portlet-collection-featured-members-fcol3 {
      padding: 0px;
      
    	li {
    		list-style: none !important;
		    float: left;
        margin: 0;
        width: 33.33333333%;
        padding: 5px;
        border-radius: 3px;
        overflow: hidden;
    		
    		a.tile {
    			padding: 0px !important;
    		}
    		a {
    			.portletItemTitle {
    				display: none;
    			}
    			img {
    				width: 100%;
            height: auto;
            border-radius: 3px;
    			}
    		}
    	}
    }

    footerHeading:not(:first-child) {
        margin-top: 30px;
    }
    
    // body > footer > div > div > div.col-md-3.col-sm-6 h5.footerHeading, body > footer > div > div > div:nth-child(5) > h5:first-child{
    .footerHeading,  > div > div > div:nth-child(5) > h5:first-child{
        margin-bottom: 8px;
    }

    // body > footer > div > div > div.col-md-3.col-sm-6 h5.footerHeading:not(:first-child) {
     .footerHeading:not(:first-child) {
        margin-top: 20px
    }
    
    a.logo.gl-logo {
        margin-bottom: 8px;
    }

}

.documentDescription.description {
    display: none;
}

article.uou-block-7f.tileItem.tile-item {
    padding: 20px;
    border: 1px solid #ddd;
    background: white;
}

.blog-content {
	padding-bottom: 60px;
	background: #f9f9f9;
	border-bottom: 0 !important;
}


.blog-post-content .blog-content {

	border-bottom: 0 !important;
  background: white;
  padding: 20px 20px 50px 20px;
  border: 1px solid #ddd;

  .meta {
    padding: 0px 0px 20px 0px;
  }
}

.sidebar-information {
  ul {
    margin: 0px;
    padding: 0px;
    li {
      padding: 0px;
      list-style: none;
    }
  }
}
.sidebar, .uou-sidebar {
    background: white;
    padding: 20px 20px 50px 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 4px;

    form#searchform {
        min-width: auto;
    }

  .sidebar-information {
    .single-category {
      li {
        a {
          font-size: 12px;
          font-weight: normal;
        }
      }
      .subtitle {
        font-size: 13px;
        font-weight: normal;
        display: block;
        color: #999999;
      }
      .title {
        font-size: 13px;
        margin: 0px;
        padding-right: 0px;
        font-weight: normal;
        line-height: 26px;
        margin: 0px 0 5px 0;
        font-size: 14px;
        margin-top: 0px;
      }
      position: relative;
      .social {
        padding: 5px 0 0 0;
        margin: 0;
        list-style: none;
        li {
          margin-bottom: 5px;
          margin-right: 3px;
          display: inline-block;
          a {
            display: inline-block;
            width: 29px;
            height: 29px;
            line-height: 29px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
          }
        }
        li.twitter {
          a {
            background: #1bb2e9;
          }
        }
        li.facebook {
          a {
            background: #3c599f;
          }
        }
        li.google-plus {
          a {
            background: #df4b38;
          }
        }
        li.linkedin {
          a {
            background: #4d7abc;
          }
        }
        li.pinterest {
          a {
            background: #cb2027;
          }
        }
        li.envelope {
          a {
            background: #999999;
          }
        }
      }
    }
    position: relative;
    .main-title {
      margin: 0;
      padding-bottom: 13px;
      font-size: 17px;
      border-bottom: 1px solid #ccc;
    }
  }
  
  .sidebar-thumbnail {
    margin: 0 auto 30px auto;
    padding: 4px;
    text-align: center;
    border: 1px solid #eaeaea;
    img {
      margin: 0 auto;
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }
}

.uou-post-comment {
    background: white;
    padding: 20px 20px 50px 20px;
    border: 1px solid #ddd;
}

#commenting {
  span#form-widgets-user_notification *{
    color: black !important;
    vertical-align: middle;
    margin-top: 0;
  }
  
}

.uou-block-14a .comment {
  .commentActions > *, .commentActions button, .commentActions input {
      display: inline-block;
      background: none;
      outline: none;
      border: none;
      padding: 10px;
      color: inherit;
  }

  .commentActions a {
      color: inherit;
      padding: 10px;
  }

  .commentActions form {
      margin: 0;
      padding: 0;
  }

  .commentActions *:hover{
        background: #999 !important;
        color: white !important;
  }
  
}

i.glyphicon.link-https {
    display: none;
}

input[name='form.buttons.comment'] {
    background-color: #008fef;
    text-decoration: none;
    color: #ffffff;
    outline: 0;
    background-image: none;
    outline: none;
    border: 2px solid #008fef;
    display: inline-block;
    margin-bottom: 0;
    font-weight: inherit;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0;
    white-space: nowrap;
    color: #ffffff;
    padding: 8px 21.312px;
    transition: all 0.3s;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.profile-company-content.user-profile.main-user {
    background: #f8f8f8;
}

.collapsible-container {
	width: 500px;
	.collapse[aria-expanded="false"] {
		display: block;
		height: 50px !important;
		overflow: hidden;
	}
	.collapsing[aria-expanded="false"] {
		height: 50px !important;
	}
	a.collapse-trigger {
	  padding: 10px 20px;
    display: inline-block;
	}
	a.collapsed {
		&:after {
			content: '+ Show More';
		}
	}
	a {
		&:not(.collapsed) {
			&:after {
				content: '- Show Less';
			}
		}
	}
}


.tb-container {
  overflow: hidden;
  zoom: 1;
  .tb-body {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    zoom: 1;
    width: 10000px;
  }
  .tb-left {
    display: table-cell;
    vertical-align: top;
  }
  .tb-right {
    display: table-cell;
    vertical-align: top;
  }
}

.fa.fa-large {
    font-size: 50px;
}

.fa.fa-padding {
    padding: 10px 20px;
}

.profile-bnr.sub-bnr.user-profile-bnr nav.pull-right.event-nav a {
    color: white;
}


.tag-cloud a {
    list-style: none !important;
    padding: 5px 10px !important;
    margin: 0 0 5px 0 !important;
    display: inline-block !important;
    background: green !important;
    color: #fff !important;
    border: 1px solid #025002 !important;
}

.portletContent li.filterItem {
  list-style: none !important;
  padding: 2px 8px !important;
  margin: 0 0 5px 0 !important;
  display: inline-block !important;
  background: green !important;
  color: #fff !important;
  border: 1px solid #025002 !important;
  
  &.selected {
    background: black !important;
  }
  
  input.filterControl {
    display: none !important;
  }
  
  * {
    cursor: pointer !important;
  }
}

.jad-events-listing{
  .cp-events-box {
    background-repeat: no-repeat !important;
    background-position: left center !important;
    background-size: auto 100% !important;

  	.cp-thumb {
  	  	width: 250px;
  	    height: 200px;

      	&:hover .cp-caption a, .cp-caption a {
            background: black !important;
            color: #fff !important;
            height: auto !important;
            width: auto !important;
            padding: 20px !important;
        }
  	}
  	.cp-text {
  	  background-color: white;
  	  min-height: 200px;
  	}
  }
}

article.uou-block-7f.blog-post-content {
  > img.jad-event-lead-image.attachment-850x450.size-850x450.wp-post-image {
    width: 100%;
  }
}

.gl-status aside#global_statusmessage {
    margin-top: 20px;
}

.content-actions {
    position: absolute;
    bottom: -22px;
    top: initial !important;

  .nav-tabs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-right: 3px;
      display: inline-block;
      box-shadow: -1px -1px 2px rgba(206, 206, 206, 0.5);
      a {
        padding: 9px 10px;
        display: inline-block;
        text-align: center;
        min-width: 112px;
        background: #F9F9F9;
        color: #666666;
        text-transform: uppercase;
        font-size: 14px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }
}

form#ajax-user-post {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  .form-hide {
    display: none;
  }

}

#donate-to-jad iframe {
    width: 195px !important;
}

#gitlab-modal-button {
    position: fixed;
    z-index: 1000000;
    top: 280px;
    right: -80px;
    padding: 5px 10px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

a.btn.btn-gitlab {
    background-color: #E24329;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

button.searchButton {
    display: none;
}

i.fa.fa-graduation-cap.fa-large.fa-padding.fa-border {
    border: none;
}

.header-header.portletHeader {
  font-weight: 600 !important;
  font-size: 18px !important;;
  color: #696969 !important;
  font-family: 'Montserrat', sans-seri !important;

  * {
      margin: 0 !important;
      font-weight: 600 !important;
      font-size: 18px !important;
      color: #696969 !important;
  }
}

.portletWrapper {
  > .portlet {
    background: white;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: none;

  }
}


div#login-form, #register{
    .formControls {
        border: none;
        background: none;
    }
}


body.template-register #content, body.template-mail_password_form #content,
body.template-login_form #content, body.template-logged_out #content {

  #content-core {
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    background: #fcfcfd;
    max-width: 500px;
    margin: 0 auto 6px;
    padding: 6px 12px;
  }

  .documentDescription {
    display: none;
  }
}

@media (max-width: 997px) {
  
  .commenter-pic.defaultuserimg {
    width: 74px !important;
    height: 74px !important;
  }
  
  // Hide all sidebar except the first one
   body.section-events, body.section-feeds, body.section-news {
      aside#portal-column-one .portletWrapper:not(:first-child) {
        display: none;
      }
   }
  // Hide the last child
   body.section-profiles {
      aside#portal-column-one .portletWrapper:last-child {
        display: none;
      }
   }
}

@media (min-width: 990px) and (max-width: 1060px) {
    // Events page
   body.section-events {
      
      .cp-events-box.row {
          background-position: top center !important;
          background-size: 130% !important;
      
          .cp-thumb.col-md-3 {
              float: unset !important;
              height: 200px !important;
              width: 100% !important;
              margin: 0 !important;
              padding: 0 !important;
          }
          
          .cp-caption {
              display: none;
          }
      }
   }
}

.border-none {
    border: none !important;
}

.nav .sf-menu.sf-arrows {
    a.dropdown-toggle.sf-with-ul {
        color: #333333 !important;
        padding-right: 0px !important;
        
        &:after {
          display: none !important;
        }
    }

    ul.submenu.dropdown-menu.navTreeLevel0 {
        padding-top: 0px !important;
    }
}



.metaholder {
  .meta {
        padding: 0px 0px 20px 0px;
        text-transform: uppercase;
        color: #737373;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        word-wrap: break-word;
        
        a {
            color: inherit;
        }
        
        span:after {
        	content: '\2022';
        	margin: 0 10px;
        }
  }
}

aside#global_statusmessage {
    margin-top: 0 !important;
    
    .portalMessage:first-child {
        margin-top: 20px
    }
}

body:not(.section-front-page){
  
  .profile-bnr.sub-bnr.user-profile-bnr {
    min-height: 100px;
    
    .position-center-center {
        position: static;
        margin: 0 auto;
        transform: none !important;
        padding-top: 20px;
        padding-bottom: 32px;
    }
    
  }
}


// Events Portlet
section.event-portlet.portletEvents {
    background: white;
    border: 1px solid #ddd;
    box-shadow: none;
    margin-bottom: 20px;

    .zportlet-header-wrapper {
        font-weight: 600 !important;
        font-size: 18px !important;
        color: #696969 !important;
        font-family: 'Montserrat', sans-seri !important;
        background: #f2f1f1;
        padding: 13px 15px;

        a.portlet-header {
            text-transform: capitalize !important;
        }

        * {
            margin: 0 !important;
            font-weight: 600 !important;
            font-size: 18px !important;
            color: #696969 !important;
        }
    }

    .portlet-content {
        padding-left: 10px;
        padding-right: 10px;
        border-top: 1px solid #f4f4f4 !important;

        .txbl-date-day {
            color: green !important;
        }

        a.portlet-item.w-inline-block {
            border-bottom: 1px solid #f4f4f4 !important;

            .portlet-item-desc {
                text-overflow: ellipsis;
                word-break: break-word;
            }
        }
    }

    .portlet-footer {
        border-top: 1px solid #e5e5e5;
        background: #fcfcfd;
        padding: 10px 15px;
        font-size: 12px;
        font-weight: 400;
        box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.05);

        > a {
            background-color: green !important;
        }
    }
}

.portletCollection > ul > li.portletItem > a {
    padding: 10px 0px;
    display: block;
    color: #888;
}

@media (min-width: 1112px){
    .container {
        min-width: 1050px !important;
    }
}
@media (min-width: 1320px){
    .container {
        min-width: 1170px !important;
    }
}
@media (min-width: 1720px){
    .container {
        min-width: 1450px !important;
    }
}
