.masonry {
  display: flex;
}

.masonry--h {
  flex-flow: row wrap;
}

.masonry--v {
  flex-flow: column wrap;
  max-height: 1080px;
}

.masonry--h,
.masonry--v {
  margin-left: -8px; /* Adjustment for the gutter */
  counter-reset: brick;
}

.masonry-item {
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 8px 8px;  /* Some Gutter */
  position: relative;
}

.masonry-item:hover:after {
  font-size: 2.25em;
  opacity: 1;
}

.masonry-item--h {
  flex: auto;
  height: 250px;
  min-width: 150px;
}

@media only screen and (min-width: 1024px) {
  /* Horizontal masonry bricks on desktop-sized screen */
  .masonry-item--h:nth-child(4n+1) {
    width: 250px;
  }
  .masonry-item--h:nth-child(4n+2) {
    width: 325px;
  }
  .masonry-item--h:nth-child(4n+3) {
    width: 180px;
  }
  .masonry-item--h:nth-child(4n+4) {
    width: 380px;
  }

  /* Adjusting vertical masonry height on desktop-sized screen */
  .masonry--v {
    max-height: 1600px;
  }

  /* Vertical masonry bricks on desktop-sized screen */
  .masonry-item--v {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* Horizontal masonry bricks on tabled-sized screen */
  .masonry-item--h:nth-child(4n+1) {
    width: 200px;
  }
  .masonry-item--h:nth-child(4n+2) {
    width: 250px;
  }
  .masonry-item--h:nth-child(4n+3) {
    width: 120px;
  }
  .masonry-item--h:nth-child(4n+4) {
    width: 280px;
  }

  /* Adjusting vertical masonry height on tablet-sized screen */
  .masonry--v {
    max-height: 2000px;
  }

  /* Vertical masonry bricks on tablet-sized screen */
  .masonry-item--v {
    width: 50%;
  }
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.masonry-container {
  .masonry {
    
    &:after {
      content: '';
      display: block;
      clear: both;
    }
          
    &:hover img {
      opacity: 0.28;
    }
    
    .masonry-sizer,
    .masonry-item {
      width: 32%;
      min-height: 200px;
    }
    .masonry-item {
        float: left;
        display: block;
        position: relative;
        cursor: pointer;
        background: black;
        
        img {
            display: block;
            max-width: 100%;
            opacity: 0.68;
        }
        
        &:hover img {
          opacity: 1;
        }
        
        .title {
            position: absolute;
            top: unset;
            left: 0;
            width: 100%;
            padding: 16px 3%;
            font-size: 30px;
            text-shadow: 0 0 8px rgba(0,0,0,0.42);
            color: #fff !important;
            line-height: 1em;
            bottom: -12px;
            background: #000000a3;
        }
    }

    .item img {
    }
    
  }
      @media (max-width: 860px) {
      .masonry .masonry-sizer,
      .masonry .masonry-item {
        width: 50%;
      }
    }
    @media (max-width: 667px) {
      .masonry .masonry-sizer,
      .masonry .masonry-item {
        width: 100%;
      }
    }
}
