.masonry {
  display: flex;
}

.masonry--h {
  flex-flow: row wrap;
}

.masonry--v {
  flex-flow: column wrap;
  max-height: 1080px;
}

.masonry--h,
.masonry--v {
  margin-left: -8px; /* Adjustment for the gutter */
  counter-reset: brick;
}

.masonry-item {
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 8px 8px;  /* Some Gutter */
  position: relative;
}

.masonry-item:hover:after {
  font-size: 2.25em;
  opacity: 1;
}

.masonry-item--h {
  flex: auto;
  height: 250px;
  min-width: 150px;
}

@media only screen and (min-width: 1024px) {
  /* Horizontal masonry bricks on desktop-sized screen */
  .masonry-item--h:nth-child(4n+1) {
    width: 250px;
  }
  .masonry-item--h:nth-child(4n+2) {
    width: 325px;
  }
  .masonry-item--h:nth-child(4n+3) {
    width: 180px;
  }
  .masonry-item--h:nth-child(4n+4) {
    width: 380px;
  }

  /* Adjusting vertical masonry height on desktop-sized screen */
  .masonry--v {
    max-height: 1600px;
  }

  /* Vertical masonry bricks on desktop-sized screen */
  .masonry-item--v {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* Horizontal masonry bricks on tabled-sized screen */
  .masonry-item--h:nth-child(4n+1) {
    width: 200px;
  }
  .masonry-item--h:nth-child(4n+2) {
    width: 250px;
  }
  .masonry-item--h:nth-child(4n+3) {
    width: 120px;
  }
  .masonry-item--h:nth-child(4n+4) {
    width: 280px;
  }

  /* Adjusting vertical masonry height on tablet-sized screen */
  .masonry--v {
    max-height: 2000px;
  }

  /* Vertical masonry bricks on tablet-sized screen */
  .masonry-item--v {
    width: 50%;
  }
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}