body.mosaic-grid.template-layout{
    
    .mosaic-grid-row-white-background {
        .white-card();
    }

    .tileItem.visualIEFloatFix.tile-item {
        .white-card();
    
        a.summary-image {
            display: block;
            img {
                max-width: 100%;
                height: auto;
                vertical-align: middle;
                width: 100%;
            }
        }
    
        h2.tileHeadline.tile-headline {
            margin-top: 12px;
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            line-height: 1.25em;
            color: #333333;
            /* margin-top: 24px; */
            margin-bottom: 24px;
    
            a{
                color: #333;
            }
    
        }
    
        p.tileBody.tile-body {
            margin: 0 0 24px;
            font-weight: 400;
            line-height: 27px;
        }
    
    }
  
    .mosaic-subgrid-row{
        
        .meta > span {
            display: block;
        
             &:after {
                display: none;
            }
        }
        
        p.tileFooter.tile-footer {
        text-align: center;
        }
        
        h2.tileHeadline.tile-headline {
            text-align: center;
        }
        
        .tileFooter {
            .btn {
                margin-bottom: 2px;
            }
        }


        .tileItem.visualIEFloatFix.tile-item {
            a.summary-image-background {
                height: 300px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

    }
    
    .mosaic-grid-row-dark {
        background: #2f363d;
        padding-top: 24px;
        padding-bottom: 24px;
    
        .mosaic-tile-content {
            > h1, > h2, > h3, > h4, > h5, > h6, > p  {
                color: white;
                margin-top: 0;
            }
        }
    }
    
    .mosaic-grid-container {
        padding-top: 24px;
        padding-bottom: 24px;
        .mosaic-tile-content > {
            h2.tileHeader {
                margin-top: 0;
            }
        }
    }

    #main-wrapper {
        > .blog-content.pt60, & {
          >.mosaic-grid-container > div > .mosaic-tile{
              width: 100%;
              padding-right: 15px;
              padding-left: 15px;
              margin-right: auto;
              margin-left: auto;
          }
      }
    }

    
    @media (min-width: 828px) {
        #main-wrapper {
            > .blog-content.pt60, & {
              >.mosaic-grid-container  > div > .mosaic-tile{
                  width: 690px;
              }
          }
    	}
    }
    @media (min-width: 888px) {
        #main-wrapper {
            > .blog-content.pt60, & {
              >.mosaic-grid-container > div > .mosaic-tile {
                  width: 630px;
              }
          }   
        }
    }
    @media (min-width: 1052px) {
        #main-wrapper {
            > .blog-content.pt60, & {
              >.mosaic-grid-container > div > .mosaic-tile {
                  width: 930px;
              }
          }   
        }
    }
    @media (min-width: 1112px) {
        #main-wrapper {
            > .blog-content.pt60, & {
              >.mosaic-grid-container > div > .mosaic-tile {
                  width: 870px;
              }
          }   
        }
    }
    @media (min-width: 1260px) {
        #main-wrapper {
            > .blog-content.pt60, & {
              >.mosaic-grid-container > div > .mosaic-tile {
                  width: 1110px;
              }
          }   
        }
    }
    @media (min-width: 1320px) {
        #main-wrapper {
            > .blog-content.pt60, & {
              >.mosaic-grid-container > div > .mosaic-tile {
                  width: 1050px;
              }
          }   
        }
    }
    @media (min-width: 1660px) {
        #main-wrapper {
            > .blog-content.pt60, & {
              >.mosaic-grid-container > div > .mosaic-tile {
                  width: 1510px;
              }
          }   
        }
    }
    @media (min-width: 1720px) {
        #main-wrapper {
            > .blog-content.pt60, & {
              >.mosaic-grid-container > div > .mosaic-tile {
                  width: 1450px;
              }
          }   
        }
    }
    
    .mosaic-grid-row-image-background {
        position: relative;
        padding: 0px;
        padding-top: 100px;
        padding-bottom: 100px;
        background: url(../img/user-bg.jpg) no-repeat;
        background-size: cover;
        color: white;
        
        * {
            color: white;
        }
        
        h1.documentFirstHeading {
            border-bottom: none !important;
            color: white;
        }
    }
    
    .mosaic-grid-row-hide {
        display: none !important;
    }
    
    
    .btn-link-tile-holder {
        margin-bottom: 20px;
        min-height: 38px;
        
        a.btn {
            min-width: 160px;
            font-size: 16px;
            border: none;
        }
        
        &[data-tile-position="link-inline"] {
            display: inline-block;
        }
        
        &[data-tile-position^="link-block"] {
            
            display: block;
            
            a.btn {
                width: 100% !important;
            }
        }
        
        &[data-tile-position$="right"] {
            text-align: right;
        }
        
        &[data-tile-position$="left"] {
            text-align: left;
        }
        
        &[data-tile-position$="center"] {
            text-align: center;
        }
        
    }
    
}

