body.portaltype-organisation {
    .profile-company-content.main-user {
        background: none;
    
        .nav.nav-tabs a {
            border-bottom: @tab-bottom-border;
        }
    }
}


// Styles for all content type
body.portaltype-link, body.portaltype-event {
  div#content-core {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 50px;
  }
}

// Styles for JaD Member Content type
body.portaltype-jadmember{
    div#page-area {
        margin: 0;
        padding: 0;
    }

    #jobs .listing-tabs ul li a{
      height: 46px;
    }
}


.uou-content {
  img.newsImage.lead-image {
    width: 100%;
    background-color: white;
  }
}

// Styles for video
body.portaltype-wildcardvideo {
    img.newsImage.lead-image.lead-image-Video {
        display: none !important;
    }
}

// Styles for News Content Type
body.frontend.portaltype-news-item {
  article.uou-block-7f.blog-post-content img.newsImage.lead-image {
    width: 100%;
    background-color: white;
  }
}

// Styles for Post Content Type
body.frontend.portaltype-post {
  #page-area > div > div > div.col-md-9 {

    background: white;
    padding: 20px 20px 50px 20px;
    border: 1px solid #ddd;

    .documentDescription {
      display: block !important;
      font-size: 20px;
      font-weight: 700;
    }

    .uou-post-comment {
        background: none;
        padding: auto;
        border: none;
    }
  }
}

body.portaltype-project {
 .col-md-9.center-content-area {
   > img.newsImage.lead-image.lead-image-Project {
     width: 100%;
   }
 } 
}

// Search page
body.portaltype-plone-site.template-search {
  dl.actionMenu:hover dd.actionMenuContent {
    display: block !important;
  }
  
  nav.pagination * {
      color: #004665;
  }
  
  // nav#searchResultsSort {
  //   display: none;
  // }

}
